<app-header></app-header>
<div class="outerContainer">

    <div class="w-0 lg:w-fit lg:flex-1">
        <app-nav-bar></app-nav-bar>
    </div>

    <div class="innerContainer lg:p-16 lg:pt-8 space-y-4">
        <div class="flex justify-center items-center w-full h-fit">
            <div class="grid grid-cols-1 gap-4 lg:grid-cols-2 w-3/4">
                <div class="h-[100px]"></div>

                <div class="col-span-2 bg-white bg-opacity-75 rounded-xl shadow-lg h-fit w-full flex justify-center">
                    <img [src]="selectedEvent?.imageURL" [alt]="selectedEvent?.title || 'Event Image'" class="h-[500px] w-full rounded-xl">
                </div>

                <div class="col-span-2 bg-white bg-opacity-75 p-4 rounded-xl shadow-lg">
                    <div class="font-bold text-xl">
                        <h1>{{selectedEvent?.title}}</h1>
                    </div>

                    <div>
                        {{selectedEvent?.summary}}
                    </div>
                </div>

                <div class="col-span-2 bg-white bg-opacity-75 p-4 rounded-xl shadow-lg">
                    <div class="text-xl font-bold">
                        <h1>Overview</h1>
                    </div>

                    <div>
                        {{selectedEvent?.overview}}
                    </div>
                </div>

                <div role="region" aria-labelledby="location-title" class="bg-white bg-opacity-75 p-4 rounded-xl shadow-lg w-full col-span-2 lg:col-span-1">
                  <h1 id="location-title" class="text-xl font-bold">Location</h1>
                    <div class="flex p-8">
                        <mat-icon>room</mat-icon>
                        <div>
                            <div>
                                {{selectedEvent?.street}}
                            </div>
                            <div>
                                {{selectedEvent?.city}}, 
                                {{selectedEvent?.state}}
                                {{selectedEvent?.zip}}
                            </div>
                            <div>
                                {{selectedEvent?.country}}
                            </div>
                        </div>
                    </div>

                </div>

                <div role="region" aria-labelledby="date-title" class="bg-white bg-opacity-75 p-4 rounded-xl shadow-lg w-full space-y-4 col-span-2 lg:col-span-1">
                  <h1 id="date-title" class="text-xl font-bold">Date and Time</h1>
                    <!-- <div class="text-xl font-bold">
                        <h1>Date and Time</h1>
                    </div> -->
                    <div class="flex justify-evenly">
                        <div class="p-4 pr-16 font-bold text-5xl border-r-2 border-gray-300">
                            {{getDay()}}
                        </div>

                        <div class="p-4 font-bold text-xl">
                            <div>
                                {{getMonth()}}
                            </div>

                            <div>
                                {{eventDate?.getFullYear()}}
                            </div>

                            <div>
                                {{getTime()}}
                            </div>
                        </div>
                    </div>
                </div>


                
            @if(renderCheck()){
                <div class="bg-white bg-opacity-75 p-4 rounded-xl shadow-lg col-span-2 lg:col-span-1">
                    <div class="text-xl font-bold">
                        <h1>Organizer</h1>
                    </div>
                    <div class="w-full flex flex-col justify-center items-center p-4">
                        <div class="w-full rounded-xl shadow-lg p-4 space-y-4 h-[200px] bg-white">
                            <div class="font-bold">
                                {{organizer?.first_name}}
                                {{organizer?.last_name}}
                            </div>

                            <div>
                                {{organizer?.accountType}}
                            </div>

                            <div class="border-b-2"></div>

                            
                            <div class="flex items-center space-x-4">
                                <mat-icon>phone</mat-icon>
                                {{organizer?.phone}}
                            </div>
                            <div class="flex items-center space-x-4">
                                <mat-icon>mail</mat-icon>
                                {{organizer?.email}}
                            </div>
                            
                            
                        </div>
                    </div>
                </div>
            }

            @if(renderCheck()){
                <div class="bg-white bg-opacity-75 p-4 rounded-xl shadow-lg col-span-2 lg:col-span-1">
                    <div class="text-xl font-bold">
                        <h1>Attendance</h1>
                    </div>
                    <div class="w-full flex flex-col justify-center items-center p-4">
                        <div class="w-full rounded-xl shadow-lg p-4 space-y-4 h-[200px] bg-white">
                            <div class="flex items-center justify-center">
                                <mat-icon>group</mat-icon>
                                {{selectedEvent?.attendance}}
                            </div>
                            
                            <div class="border-b-2"></div>

                            @if(attending())
                            {
                                <div class="w-full p-4 flex justify-center">
                                    <button class="p-4 px-16 font-bold bg-blue-400 bg-opacity-50 rounded-full w-fit border-2 shadow
                                    hover:bg-opacity-100" disabled="true">
                                        You are attending
                                    </button>
                                </div>
                            }
                            @else 
                            {
                                <div class="w-full p-4 flex justify-center">
                                    <button class="p-4 px-16 font-bold bg-blue-400 bg-opacity-50 rounded-full w-fit border-2 shadow
                                    hover:bg-opacity-100" (click)="rsvpEvent()">
                                        RSVP
                                    </button>
                                </div>
                            }
                            
                        </div>
                    </div>       
                </div>
            }
                <div class="bg-white bg-opacity-75 p-4 rounded-xl shadow-lg col-span-2 lg:col-span-1">
                    <div class="text-xl font-bold">
                        <h1>Additional Details</h1>
                    </div>
                    <div [innerHTML]="selectedEvent?.misc">

                    </div>
                </div>
                <div class="h-[300px]"></div>
            </div>
        </div>
    </div>
</div>
