<app-header></app-header>

<div class="outerContainer">

    <div class="lg:flex-1">
        <app-nav-bar></app-nav-bar>
    </div>

    <div class="innerContainer">

      <div class="h-fit w-full bg-cover bg-fixed bg-search tinted">
        <div class="h-[500px] w-full font-bold text-7xl flex flex-col justify-end text-white
                    inset-0 bg-black opacity-50">
          <h1 class="p-4">
            Find Your Next Furry Friend
          </h1>
        </div>
      </div>

      <!--Filter Panel-->
      <div class="w-full p-4">
       
       

        

      <app-search-panel>

      </app-search-panel>



      </div>

      <div class="w-full mt-64 lg:mt-32 lg:flex lg:flex-col lg:items-center">
            <div class="h-screen">
              hello u can put stuff in here like pet cards
            </div>
      </div>

    </div>

</div>