<div class="w-full bg-white bg-opacity-50 rounded-2xl shadow-xl p-16">
  <div class=" w-full h-fit grid grid-cols-1 place-items-center space-y-8">
    <div class="">
      <h1><button (click)="navService.navigateToHomePage()">
      <img src="./assets/images/name_logo.png" alt="logo" class="" aria-labelledby="toebeans-logo" role="banner">
     </button></h1>
    </div>

    <!-- Text boxes-->
    <form [formGroup]="fg_login" aria-labelledby="login-box">
      <div class="flex flex-col">
        <label for="email">Email</label>
        <input type="email" id="email" class="login-textbox" placeholder="" formControlName="email" aria-labelledby="email-input" role="input"/>
      </div>
      <div class="flex flex-col">
        <label for="password">Password</label>
        <input type="password" id="password" class="login-textbox" placeholder="" formControlName="password" aria-labelledby="password-input" role="input"/>
      </div>
    </form>

    <div class="h-1"></div>

    <!-- Buttons -->
    <div>
      <button class="login-button bg-cyan-300 hover:bg-cyan-500" (click)="loginWithEmail()" aria-labelledby="sign-in-button" role="button">
        Sign In
      </button>
    </div>

    <!-- or divider -->
    <div class="w-full flex items-center">
      <div class="pl-4 flex-auto">
        <hr class="border-gray-500" aria-labelledby="divider" role="separator"/>
      </div>
      <p class="w-10 flex-none text-sm text-center">or</p>
      <div class="pr-4 flex-auto">
        <hr class="border-gray-500" aria-labelledby="divider" role="separator"/>
      </div>
    </div>
    
    <div>
      <button class="login-button bg-white border-2 border-gray-400 flex items-center justify-center gap-1" (click)="this.loginService.login()" aria-labelledby="google-sign-in" role="button">
        <img class ="size-5" src="https://lh3.googleusercontent.com/COxitqgJr1sJnIDe8-jiKhxDx1FrYbtRHKJ9z_hELisAlapwE9LUPh6fcXIfb5vwpbMl4xl9H9TRFPc5NOO8Sb3VSgIBrfRYvW6cUA"/>
        <p class="flex-none">Continue With Google</p>
      </button>
    </div>

    <div>
      <div class="grid grid-cols-1 place-items-center space-y-4">
        <div>
          <a (click)="this.navService.navigateToNewAccountPage()">Don't have an account?</a>
        </div>

        <div>
          <a>Forgot your password?</a>
        </div>
      </div>
    </div>

  </div>
</div>