<app-header></app-header>

<div class="outerContainer">
    <div class="lg:flex-1">
        <app-nav-bar></app-nav-bar>
    </div>

    <div class="innerContainer">
      <div class="w-full flex justify-center mt-16 mb-32 p-8">
        <form [formGroup]="fg_event" class="flex flex-col space-y-16 w-full lg:w-1/2">
          <!--Panel 1-->
          <div class="bg-white rounded-xl shadow-sm h-[fit] flex flex-col p-8 space-y-16">
            <div>
              <h1 class="font-bold text-xl">Event Details</h1>
              <p>Use this section to give a clear title on your event, and provide a quick summary to grab people's attention</p>
            </div>
            <div>
              <label for="host" class="mb-2 text-gray-900">Organizer</label>
              <input formControlName="organizer" type="text" id="host" class="bg-gray-50 border opacity-75 border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 p-2.5 w-full rounded-xl" placeholder="" required/>
            </div>

            <div>
              <label for="title" class="mb-2 text-gray-900">Event Title</label>
              <input formControlName="title" type="text" id="title" class="bg-gray-50 border opacity-75 border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 p-2.5 w-full rounded-xl" placeholder="" required/>
            </div>

            <div>
              <label for="description" class="mb-2 text-gray-900">Quick Summary</label>
              <textarea formControlName="summary" type="text" id="description" class="bg-gray-50 border opacity-75 border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 p-2.5 w-full resize-none rounded-xl"></textarea>
            </div>
          </div>

          <!--Image Panel-->
          <div class="bg-white rounded-xl shadow-sm h-[fit] flex flex-col p-8 space-y-16">
            <h1 class="font-bold text-xl">Upload an Image</h1>

            <div class="space-y-4">
              <img [src]="url" class="w-full h-[400px] rounded-xl">

              <input type="file" (change)="fileChangeEvent($event)">
            </div>
          </div>

          <div class="bg-white rounded-xl shadow-sm h-[fit] flex flex-col p-8 space-y-16">
            <div>
              <h1 class="font-bold text-xl">Overview</h1>
              <p>Use this section to go more in depth about what to expect at your event</p>
            </div>
            <div>
              <label for="overview" class="mb-2 text-gray-900">Add more details</label>
              <textarea formControlName="overview" type="text" id="overview" class="bg-gray-50 border opacity-75 border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 p-2.5 w-full resize-none h-[100px] rounded-xl"></textarea>
            </div>
          </div>

          <!--Date/Loc Panel-->
          <div class="bg-white rounded-xl shadow-sm h-[fit] flex flex-col p-8 space-y-16">
            <div>
              <h1 class="font-bold text-xl">Date, Time, and Location</h1>
              <p>Let everyone know when the event is and when to arrive!</p>
            </div>
            
            <div>
              <app-calendar
                (dayEmitter)="recieveDay($event)"
                (monthEmitter)="recieveMonth($event)"
                (yearEmitter)="recieveYear($event)"
              ></app-calendar>
            </div>

            <div>
              <div>
                Select Time
              </div>
              <input type="time" #timeInput (change)="timeChangeEvent(timeInput.value)">
            </div>

            <div>

            </div>

            <div class="grid grid-cols-2 gap-2">
              <div class="col-span-2">
                <label for="street" class="mb-2 text-gray-900">Street</label>
                <input formControlName="street" type="text" id="street" class="bg-gray-50 border opacity-75 border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 p-2.5 w-full rounded-xl" placeholder="" required/>
              </div>

              <div>
                <label for="city" class="mb-2 text-gray-900">City</label>
                <input formControlName="city" type="text" id="city" class="bg-gray-50 border opacity-75 border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 p-2.5 w-full rounded-xl" placeholder="" required/>
              </div>

              <div>
                <label for="state" class="mb-2 text-gray-900">State</label>
                <input formControlName="state" type="text" id="state" class="bg-gray-50 border opacity-75 border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 p-2.5 w-full rounded-xl" placeholder="" required/>
              </div>

              <div>
                <label for="zip" class="mb-2 text-gray-900">Zip</label>
                <input formControlName="zip" type="text" id="zip" class="bg-gray-50 border opacity-75 border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 p-2.5 w-full rounded-xl" placeholder="" required/>
              </div>

              <div>
                <label for="country" class="mb-2 text-gray-900">Country</label>
                <input formControlName="country" type="text" id="country" class="bg-gray-50 border opacity-75 border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 p-2.5 w-full rounded-xl" placeholder="" required/>
              </div>
            </div>
          </div>

          <!--Misc Panel-->
          <div class="bg-white rounded-xl shadow-sm h-[fit] flex flex-col p-8 space-y-16">
            <div>
              <h1 class="font-bold text-xl">Misc</h1>
              <p>Use this section to provide any additional information you may want to include e.g agendas</p>
            </div>
            <div>
              <label for="misc" class="mb-2 text-gray-900">Add more details</label>
              <textarea formControlName="misc" type="text" id="misc" class="bg-gray-50 border opacity-75 border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 p-2.5 w-full resize-none h-[100px] rounded-xl"></textarea>
            </div>
          </div>

          <div class="w-full flex justify-center">
            <button (click)="createEvent()"
            class="p-4 px-16 font-bold bg-blue-400 bg-opacity-50 rounded-full w-fit border-2 shadow
            hover:bg-opacity-100">
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>
           
          

</div>
