<div class="flex flex-col flex-1 w-full h-80 rounded-xl shadow-xl hover:shadow-2xl hover:scale-105 transition-all duration-500 ease-in-out bg-white">
  
  <!-- Image container with consistent aspect ratio -->
  <div class=" aspect-square overflow-hidden rounded-t-xl">
    <img [src]="pet.image" [alt]="pet.name" class="object-cover w-full h-full" />
  </div>
  
  <!-- Content container with minimum height -->
  <div class="w-full p-4 xl:p-5 space-y-2 flex flex-col flex-grow min-h-[140px]">
    <div class="text-lg md:text-2xl font-bold">
      {{ pet.name }}
    </div>
    <div class="text-base md:text-lg text-gray-700">
      {{ pet.sex }} • {{ pet.breed }}
      <p>{{ pet.age }} yrs old</p>
    </div>
    <!-- If additional info is needed -->
    <div class="text-base md:text-lg text-gray-700 mt-auto">
    </div>
  </div>
  
</div>
