<app-header role="banner"></app-header>

<div class="outerContainer" role="navigation">
  <div class="lg:flex-1 lg:relative fixed">
    <app-nav-bar></app-nav-bar>
  </div>

  <div class="mapContainer" aria-labelledby="map-container" role="region">

    <div class="w-full h-5/6 lg:h-full">
      <google-map
        height="100%"
        width="100%"
        [options]="options"
        mapId="afece44780f05ea6"
        (mapInitialized)="mapInit()"
        (mapClick)="chooseLocation($event)"
      >
        @if(userInfo?.accountType != 'individual') { @for (marker of
        (markers$|async); track marker) { @let markerPos = { lat: marker['lat'],
        lng: marker['lng'] }; @let markerDes = marker['description']; @let
        markerImg = marker['image']; @let markerUser = marker['name']; @let
        markerTime = marker['timestamp'];

        <map-advanced-marker
          #markerRef="mapAdvancedMarker"
          [position]="markerPos"
          [content]="markerIcon()"
          (mapClick)="openInfoWindow(markerRef, infoRef)"
        ></map-advanced-marker>

        <map-info-window [options]="infoOptions" #infoRef="mapInfoWindow" aria-labelledby="report-cat" role="dialog">
          <div class="grid grid-cols-1">
            <img
              class="max-h-64 rounded-lg place-self-center"
              src="{{ markerImg }}"
            />
            <p class="pt-2 font-medium">Description:</p>
            <p class="pt-2 line-clamp-2">{{ markerDes }}</p>
            <button>
              <p
                class="pt-2 font-medium text-blue-600 hover:underline place-self-start"
                (click)="
                  openInfoDialog(
                    markerDes,
                    markerImg,
                    markerPos,
                    markerUser,
                    markerTime
                  )
                "
              >
                View Info
              </p>
            </button>
          </div>
        </map-info-window>
        } }
      </google-map>
    </div>
  </div>
</div>
