<app-header></app-header>

<div class="outerContainer">
  <div class="lg:flex-1 lg:relative fixed">
    <app-nav-bar></app-nav-bar>
  </div>

  <div class="mapContainer">
    <div class="w-full h-[78%] mt-20 lg:mt-0 lg:h-full">
      <google-map
        height="100%"
        width="100%"
        [center]="center"
        [zoom]="zoom"
        mapId="afece44780f05ea6"
        (mapInitialized)="addControl()"
      >
        @for (marker of (markers$|async); track marker) {
          @let markerPos = { lat: marker['lat'], lng: marker['lng'] };
          @let markerDes = marker['description'];
          @let markerImg = marker['image'];

        <map-advanced-marker
          #markerRef="mapAdvancedMarker"
          [position]="markerPos"
          (mapClick)="openInfoWindow(markerRef, infoRef)"
          (markerInitialized)="outputTest()"
        ></map-advanced-marker>
        
        <map-info-window
          #infoRef="mapInfoWindow">
          <img
            class="max-h-64 rounded-lg"
            src="{{ markerImg }}"
          />
          <p>Description:</p>
          <p>{{ markerDes }} </p>
          <button>
            <p
              class="font-medium text-blue-600 hover:underline"
              (click)="openInfoDialog()"
            >
              View Info
            </p>
          </button>
        </map-info-window>
        }
      </google-map>
    </div>
  </div>
</div>
