<div class="flex justify-center items-center ">
  <div
    class="flex transition-all duration-500 ease-in-out rounded-xl shadow-2xl bg-white bg-opacity-50 overflow-hidden"
    [ngClass]="{
      'h-auto flex-row': selectedType,
      'min-w-92 max-w-92 min-h-52 max-h-52 flex-col ': !selectedType
    }"
  >
    <!-- select animal section -->
    <div
      class=" grid grid-cols-2 place-content-center min-w-4/12 max-w-4/12 p-4 bg-gray-50 bg-opacity-30"
    >
      <!-- Cat Icon -->
       <!-- the classes defined in [ngClass] are applied before those in class attribute -->
      <button
        class="flex flex-col mr-2 min-w-36  max-w-36 items-center cursor-pointer transition-transform transform hover:scale-105 bg-white rounded-xl p-4 shadow-xl border-4"
        [ngClass]="{
          'border border-blue-300 ': selectedType === 'cat',
          'border border-gray-300 ': selectedType !== 'cat'
        }"
        (click)="selectAnimal('cat')"
      >
        <img
          src="./assets/images/black-cat.png"
          alt="Cat Icon"
          class="min-w-24 min-h-24  max-w-24 max-h-24 mb-2"
        />
        <span class="text-lg font-medium">Cat</span>
      </button>

      <!-- Dog Icon -->
      <button
        class="flex flex-col ml-2 min-w-36 max-w-36 items-center cursor-pointer transition-transform transform hover:scale-105 bg-white rounded-xl p-4 shadow-xl border-4"
        [ngClass]="{
          'border border-blue-300 ': selectedType === 'dog',
          'border border-gray-300 ': selectedType !== 'dog'
        }"
        (click)="selectAnimal('dog')"
      >
        <img
          src="./assets/images/french-bulldog.png"
          alt="Dog Icon"
          class="w-24 h-24 mb-2"
        />
        <span class="text-lg font-medium">Dog</span>
      </button>
    </div>

    <!-- Filters selection to the right-->
    <div
      class="flex-grow p-6 bg-gray-50 bg-opacity-30 transition-opacity duration-500"
      [ngClass]="{
        'opacity-100 block': selectedType,
        'opacity-0 hidden': !selectedType
      }"
    >
      <div class="md:grid md:grid-cols-3 gap-6">
        <!-- Age Filter -->
        <div class="min-w-32 max-w-32">
          <label for="age-select" class="text-center font-medium">Age</label>
          <select
            id="age-select"
            class="mt-2 px-3 py-2 border-solid border-2 border-blue-gray rounded-lg w-full shadow"
            [(ngModel)]="selectedAge"
          >
          <option value="">Any</option>
            <option *ngFor="let age of ages" [value]="age">{{ age }}</option>
          </select>
        </div>
        <!-- Gender Filter -->
        <div  class="min-w-32 max-w-32">
          <label for="gender-select" class="text-center font-medium">Gender</label>
          <select
            id="gender-select"
            [(ngModel)]="selectedGender"
            class="mt-2 px-3 py-2 border-solid border-2 border-blue-gray rounded-lg w-full shadow"
          >
          <option value="">Any</option>
            <option *ngFor="let gender of animalGenders" [value]="gender">
              {{ gender }}
            </option>
          </select>
        </div>

        <!-- Breed Filter -->
        <div class="min-w-32 max-w-32">
          <label for="breed-select" class="text-center font-medium">Breed</label>
          <select
            id="breed-select"
            class="mt-2 px-3 py-2 border-solid border-2 border-blue-gray rounded-lg w-full shadow"
            [(ngModel)]="selectedBreed"
          >
          <option value="">Any</option>
            <option *ngFor="let breed of Breeds" [value]="breed">
              {{ breed }}
            </option>
          </select>
        </div>

        <!-- Size filter -->
        <div class="min-w-32 max-w-32">
          <label for="size-select" class="text-center font-medium">Sizes</label>
          <select
            id="size-select"
            class="mt-2 px-3 py-2 border-solid border-2 border-blue-gray rounded-lg w-full shadow"
            [(ngModel)]="selectedSize"
          >
          <option value="">Any</option>
            <option *ngFor="let size of animalSizes" [value]="size">
              {{ size }}
            </option>
          </select>
        </div>

        <!-- Program filter -->
        <div class="min-w-32 max-w-32">
          <label for="program-select" class="text-center font-medium">Programs</label>
          <select
            id="program-select"
            class="mt-2 px-3 py-2 border-solid border-2 border-blue-gray rounded-lg w-full shadow"
            [(ngModel)]="selectedProgram"
          >
          <option value="">Any</option>
            <option *ngFor="let program of animalPrograms" [value]="program">
              {{ program }}
            </option>
          </select>
        </div>

        <!-- submit button -->
        <div class="col-end-4 flex">
          <button
            class="min-w-32 max-w-32 mt-8 px-3 py-2 font-medium rounded-full w-full hover:bg-blue-400 bg-blue-gray bg-opacity-90 text-black shadow"
            type="submit"
            
            (click)="onSubmit()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
