<div class="text-xs p-4 border-2 border-gray-100 shadow-sm h-fit bg-white bg-opacity-75 rounded-xl">
    <div class="w-full flex flex-col p-4 space-y-4">
        <div class="flex justify-evenly">
            <div class="border-2 h-[25px] w-[25px] rounded-full flex justify-center items-center" (click)="prevMonth()">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </div>
            
            <div class="font-bold text-xl space-x-2">
                {{currentMonthName}}
                {{currentYear}}
            </div>
            <div class="border-2 h-[25px] w-[25px] rounded-full flex justify-center items-center" (click)="nextMonth()">
                <mat-icon>keyboard_arrow_right</mat-icon>
            </div>
        </div>

        <div class="grid grid-cols-7 gap-4">
            <div>Mon</div>
            <div>Tues</div>
            <div>Wed</div>
            <div>Thurs</div>
            <div>Fri</div>
            <div>Sat</div>
            <div>Sun</div>

            <!--for loop if first day is 6 AKA saturday make 6 empty divs using @ for-->
            <!--then for loop for 1 to max days-->

            @for(day of days; let idx = $index; track idx)
            {   
                @if(day[0])
                {
                    @if(day[1])
                    {
                        <div class="bg-blue-100 bg-opacity-50 border-2 rounded-full 
                                    h-[25px] w-[25px] flex justify-center items-center" 
                            (click)="selectDay(idx)">{{day[0]}}
                        </div>
                    }
                    @else
                    {
                        <div class="h-[25px] w-[25px] flex justify-center items-center" (click)="selectDay(idx)">{{day[0]}}</div>
                    }
                }
                @else
                {
                    <div></div>
                }
            }
        </div>
    </div>
</div>

<div class="mt-[25px] flex flex-col space-y-4 h-[300px] overflow-y-auto">
    <div class="font-bold">
        Your Upcoming Events
    </div>

    @for(event of this.eventService.attendedEvents; let idx = $index; track idx)
    {
        <div class="eventsBox">
            <div>
                {{event.title}}
            </div>
            <div class="text-xs">
                {{event.summary}} <br>
                {{timestampHelper(event.date)}}
            </div>
        </div>
    }

    <div class="eventsBox">
        <div>
            TNR Workshop
        </div>

        <div class="text-xs">
            Attending
            1/1/2025, 2PM
            123 Washington Ave Street
        </div>
    </div>

    <div class="eventsBox">
        <div>
            TNR Workshop
        </div>

        <div class="text-xs">
            Hosting
            1/1/2025, 2PM
            123 Washington Ave Street
        </div>
    </div>

    <div class="eventsBox">
        <div>
            TNR Workshop
        </div>

        <div class="text-xs">
            Hosting
            1/1/2025, 2PM
            123 Washington Ave Street
        </div>
    </div>
</div>