<form>
  <div class="p-4 w-full h-[32rem] md:h-80 bg-stone-100 bg-opacity-90 rounded-md shadow-lg grid grid-cols-1 place-items-center">
    <div class="h-44 md:h-0 md:w-0 md:invisible">
      Placeholder for image
    </div>

    <!-- Text boxes-->
    <div>
      <input type="text" class="login-textbox" placeholder="Username" />
    </div>
    <div>
      <input type="text" class="login-textbox" placeholder="Password" />
    </div>

    <div class="h-1"></div>

    <!-- Buttons -->
    <div>
      <button class="login-button bg-cyan-300 hover:bg-cyan-500">
        Sign In
      </button>
    </div>

    <!-- or divider -->
    <div class="w-full flex items-center">
      <div class="pl-4 flex-auto">
        <hr class="border-gray-500" />
      </div>
      <p class="w-10 flex-none text-sm text-center">or</p>
      <div class="pr-4 flex-auto">
        <hr class="border-gray-500" />
      </div>
    </div>
    
    <div>
      <button class="login-button bg-white border-2 border-gray-400 flex items-center justify-center gap-1">
        <img class ="size-5" src="https://lh3.googleusercontent.com/COxitqgJr1sJnIDe8-jiKhxDx1FrYbtRHKJ9z_hELisAlapwE9LUPh6fcXIfb5vwpbMl4xl9H9TRFPc5NOO8Sb3VSgIBrfRYvW6cUA"/>
        <p class="flex-none">Continue With Google</p>
      </button>
    </div>

  </div>
</form>