<app-header></app-header>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--Navigation Bar-->
<div class="outerContainer">
  <div class="navbarContainer">
    <app-nav-bar></app-nav-bar>
  </div>
  <div class="innerContainer pl-32 pt-16 space-y-4"> <!--Don't change-->
    <div class="grid grid-cols-4 w-full gap-16"> <!--Beginning overall tag-->
      <!--First horizontal section-->
      <div class="col-span-4 lg:col-span-2">
        <!--Folders-->
        <div class="grid grid-cols-2 gap-4">
          <div class="folderCard">
            <div>
              <mat-icon class="text-3xl z-50">folder</mat-icon>
            </div>
            <div>
              Applications/Forms
            </div>
          </div>

          <div class="folderCard">
            <div>
              <mat-icon>folder</mat-icon>
            </div>
            <div>
              Medical Documents
            </div>
          </div>

          <div class="folderCard">
            <div>
              <mat-icon>folder</mat-icon>
            </div>
            <div>
              Identification and Licensing
            </div>
          </div>

          <div class="folderCard">
            <div>
              <mat-icon>folder</mat-icon>
            </div>
            <div>
              Misc. Documents
            </div>
          </div>
        </div>
      </div>
      <!--Progress Circle-->
      <div class="col-span-4 lg:col-span-2">
        <div class="flex justify-center items-center bg-white w-96 h-80 lg:h-76 rounded-3xl lg:mx-10">
          <div class="relative flex flex-col items-center p-4 w-80">
            <h2 class="text-xl text-center mb-10">30/50 Documents Uploaded</h2>
            <svg class="w-44 h-44 overflow-visible" viewBox="0 0 100 100">
              <!--Background circle-->
              <circle class="text-cyan-300 stroke-current" 
              stroke-width="20" 
              cx="50" 
              cy="50" 
              r="40" 
              fill="transparent">
              </circle>

              <!--Inner circle-->
              <circle class="text-cyan-400 stroke-current" 
              stroke-width="20" 
              stroke-linecap="round" 
              cx="50" 
              cy="50"
              r="40" 
              fill="transparent" 
              stroke-dasharray="251.2" 
              stroke-dashoffset="calc(251.2 - (251.2 * 60) / 100)">
              </circle>
            </svg>
          </div>
        </div>
      </div>

      <!--Lower horizontal half-->

      <!-- Recent Uploads -->
      <div class="col-span-4 lg:col-span-2">
        <h2 class="text-xl font-semibold mb-3">Recent Uploads</h2>
        <!-- Headers -->
        <div class="grid grid-cols-3 gap-6 text-base font-medium pb-2">
          <div class="ml-2">Name</div>
          <div>Type</div>
          <div>Upload Date</div>
        </div>
        <!-- TEMP Insert rows of documents here -->
        <div class="space-y-1">
          <div class="grid grid-cols-3 gap-2 text-base px-2 py-1 rounded-md hover:bg-sky-400 hover:text-white">
            <div class="whitespace-normal break-words truncate">file.docx</div>
            <div class="truncate">Application/Forms</div> 
            <div>11/18/24</div>
          </div>
          <div class="grid grid-cols-3 gap-2 text-base px-2 py-1 rounded-md hover:bg-sky-400 hover:text-white">
            <div class="whitespace-normal break-words truncate">medical.pdf</div>
            <div class="truncate">Application/Forms</div>
            <div>11/09/24</div>
          </div>
          <div class="grid grid-cols-3 gap-2 text-base px-2 py-1 rounded-md hover:bg-sky-400 hover:text-white">
            <div class="whitespace-normal break-words truncate">vaccinesandlonglongloooongdocument.pdf</div>
            <div class="truncate">Application/Forms</div>
            <div>03/25/24</div>
          </div>
        </div>
      </div>


      <!--Upload File-->
      <div class="col-span-4 lg:col-span-2 w-96 h-44">
        <label for="dropzone-file"
          class="flex flex-col items-center justify-center w-96 py-8 rounded-3xl cursor-pointer bg-white lg:mx-10">
          <div class="flex flex-col items-center justify-center pt-5 pb-6">
            <svg class="w-8 h-8 mb-4 text-black" 
              aria-hidden="true" 
              xmlns="http://www.w3.org/2000/svg" 
              fill="none"
              viewBox="0 0 20 16">
              <path stroke="currentColor" 
              stroke-linecap="round" 
              stroke-linejoin="round" 
              stroke-width="2"
              d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 
              5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2" />
            </svg>
            <p class="mb-2 text-md text-black">Click to upload or drag and drop</p>
            <p class="text-sm text-black"><span class="italic">.docx and .pdf files only!</span></p>
          </div>
          <input id="dropzone-file" type="file" class="hidden" (change)="fileChangeEvent($event)"/>
        </label>
      </div>
    </div> <!--Overall closing tag-->

    <!--Spacers: probably not best practice-->
    <section class="w-full h-[100px]"></section>
  </div>
</div>