<div class="w-full bg-white bg-opacity-50 rounded-2xl shadow-xl p-6">
  <div class="w-full h-fit grid grid-cols-1">
    <div class="justify-self-end">
      <button (click)="closeDialog()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div>
      <img
        class="max-h-80 place-self-center rounded-2xl"
        src="{{ data.img }}"
      />
    </div>
    <div class="text-gray-500 font-light italic text-xs">
      <p>Reported by: {{ data.un }} on {{ date }}</p>
    </div>
    <div class="pt-2 text-sm">
      <p>Coordinates:</p>
      <p>{{ data.crd.lat }}, {{ data.crd.lng }}</p>
      <a class="text-blue-600 font-medium hover:underline" href="{{ url }}">Get Directions</a>
    </div>
    <div class="pt-2 text-sm">
      <p>Description:</p>
      <p>{{ data.des }}</p>
    </div>
  </div>
</div>
