<div class = "flex flex-col space-y-4 rounded-lg shadow-lg w-full h-fit m-0 lg:w-3/4 lg:mx-auto
                hover:shadow-2xl
                hover:scale-105
                transition-all duration-500 ease-in-out ">

    <div class = "w-full">
        <img [src]="image" class="rounded-xl w-full">
    </div>

    <div class="w-full p-4 space-y-4">
        <div class="text-3xl font-bold text-cyan-500">
            {{title}}
        </div>
        <div>
            {{description}}
        </div>
    </div>
</div>