
<div>
    <div class="fixed bg-cyan-100 p-4 w-full bottom-0 
                lg:w-32 lg:h-screen lg:top-0 lg:left-0 lg:flex lg:flex-col lg:items-center
                transition-all duration-500 ease-in-out">
        <nav>
            <ul class="flex justify-evenly lg:flex-col lg:h-screen">
                <li><a routerLink="/homepage" routerLinkActive="router-link-active" ><mat-icon>home</mat-icon></a></li>
                <li><a routerLink="/search/pets"><mat-icon>search</mat-icon></a></li>
                <li><a routerLink="/search/events"><mat-icon>event</mat-icon></a></li>
                <li><a routerLink="/home"><mat-icon>settings</mat-icon></a></li>
            </ul>
        </nav>
    </div>
</div>