<app-header></app-header>
<div class="bg-cover bg-gradient overflow-y-auto w-full h-full flex justify-center">
    <div class="w-3/4 h-3/4 bg-white bg-opacity-50 rounded-xl m-8 p-8 mt-32">
        <div class="h-3/4 space-y-32">
            @if(steps[0])
            {
                <div class="text-lg">
                    <p>Creating your profile</p> <br>
                    <h1 class="text-5xl font-bold">What should we call you?</h1>
                </div>

                <div>
                    <form class="space-y-8" [formGroup]="fg_basic_info">
                        <div class="">
                            <label for="fname" class="mb-2 text-gray-900">First Name</label>

                            <input type="text" id="fname" formControlName="fname"
                            class="bg-gray-50 border opacity-75 border-gray-300 
                            text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 
                            p-2.5 w-full rounded-xl" 
                            placeholder="" 
                            required/>
                        </div>

                        <div class="">
                            <label for="lname" class="mb-2 text-gray-900">Last Name</label>

                            <input type="text" id="lname" formControlName="lname"
                            class="bg-gray-50 border opacity-75 border-gray-300 
                            text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 
                            p-2.5 w-full rounded-xl" 
                            placeholder="" 
                            required/>
                        </div>
                    </form>
                </div>
            }
            @else if(steps[1])
            {
                <div class="text-lg">
                    <p>Creating your profile</p> <br>
                    <h1 class="text-5xl font-bold">Tell everyone a little about yourself!</h1>
                </div>

                <div>
                    <form class="w-full flex justify-center" [formGroup]="fg_bio">
                        <textarea
                            class="w-3/4 resize-none h-64 p-8 rounded-xl shadow-sm"
                            formControlName="bio"
                        ></textarea>
                    </form>
                </div>
            }
            @else if(steps[2])
            {
                <div class="text-lg">
                    <p>Creating your profile</p> <br>
                    <h1 class="text-5xl font-bold">Contact Information</h1>
                </div>
                
                <form class="space-y-8" [formGroup]="fg_contactInfo">
                    <div>
                        <label for="phone" class="mb-2 text-gray-900">Phone Number</label>

                        <input type="text" id="phone" formControlName="phone"
                        class="bg-gray-50 border opacity-75 border-gray-300 
                        text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 
                        p-2.5 w-full rounded-xl" 
                        placeholder="" 
                        required/>
                    </div>

                    <div>
                        <label for="email" class="mb-2 text-gray-900">Email</label>

                        <input type="text" id="email" formControlName="email"
                        class="bg-gray-50 border opacity-75 border-gray-300 
                        text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 
                        p-2.5 w-full rounded-xl" 
                        placeholder="" 
                        required/>
                    </div>

                    <div class="grid grid-cols-2">
                        <div class="col-span-2">
                            <label for="street" class="mb-2 text-gray-900">Street</label>

                            <input type="text" id="street" formControlName="street"
                            class="bg-gray-50 border opacity-75 border-gray-300 
                            text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 
                            p-2.5 w-full rounded-xl" 
                            placeholder="" 
                            required/>
                        </div>

                        <div>
                            <label for="state" class="mb-2 text-gray-900">State</label>

                            <input type="text" id="state" formControlName="state"
                            class="bg-gray-50 border opacity-75 border-gray-300 
                            text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 
                            p-2.5 w-full rounded-xl" 
                            placeholder="" 
                            required/>
                        </div>

                        <div>
                            <label for="city" class="mb-2 text-gray-900">City</label>

                            <input type="city" id="email" formControlName="city"
                            class="bg-gray-50 border opacity-75 border-gray-300 
                            text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 
                            p-2.5 w-full rounded-xl" 
                            placeholder="" 
                            required/>
                        </div>
                    </div>
                </form>
            }
            @else if(steps[4])
            {
                <input type="file" (change)="fileChangeEvent($event)">
            }
            @else if(steps[3])
            {
                <button (click)="finalizeInfo()">submit</button>
            }
        </div>
        <div class="w-full flex justify-center space-x-16 bottom-0">
            <div>
                <button (click)="back()"> <mat-icon>keyboard_arrow_left</mat-icon> </button>
            </div>

            <div>
                <button (click)="next()"> <mat-icon>keyboard_arrow_right</mat-icon></button>
            </div>
        </div>
    </div>
</div>