<app-header></app-header>

<div class="outerContainer">
    <div class="innerContainer">
      <div class="w-full flex justify-center mt-16 mb-32 p-8">
        <form class="flex flex-col space-y-16 w-full lg:w-1/2" [formGroup]="fg_userInfo">
          <!--Panel 1-->
          <div class="bg-white rounded-xl shadow-sm h-[fit] flex flex-col p-8 space-y-16">
            <div>
              <h1 class="font-bold text-xl">What is your name?</h1>
              <p>Introduce yourself to everyone, feel free to choose any name you prefer</p>
            </div>

            <div>
              <label for="first_name" class="mb-2 text-gray-900">First Name</label>
              <input formControlName="first_name" type="text" id="first_name" class="bg-gray-50 border opacity-75 border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 p-2.5 w-full rounded-xl" placeholder="" required/>
            </div>

            <div>
                <label for="last_name" class="mb-2 text-gray-900">Last Name</label>
                <input formControlName="last_name" type="text" id="last_name" class="bg-gray-50 border opacity-75 border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 p-2.5 w-full rounded-xl" placeholder="" required/>
              </div>
          </div>


          <!--Biography Panel-->
          <div class="bg-white rounded-xl shadow-sm h-[fit] flex flex-col p-8 space-y-16">
            <div>
              <h1 class="font-bold text-xl">Biography</h1>
              <p>Give yourself a brief introduction!</p>
            </div>

            <div>
              <label for="bio" class="mb-2 text-gray-900">Biography</label>
              <textarea formControlName="biography" type="text" id="biography" class="bg-gray-50 border opacity-75 border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 p-2.5 w-full resize-none rounded-xl h-[300px]"></textarea>
            </div>
          </div>

          <!--Image Panel-->
          <div class="bg-white rounded-xl shadow-sm h-[fit] flex flex-col p-8 space-y-16">
            <h1 class="font-bold text-xl">Upload an Image</h1>

            <div class="space-y-4 flex flex-col items-center">
              <img [src]="url" class="w-3/4 h-auto rounded-xl">

              <input type="file" (change)="fileChangeEvent($event)">
            </div>
          </div>

          <!--Contact info panel-->
          <div class="bg-white rounded-xl shadow-sm h-[fit] flex flex-col p-8 space-y-16">
            <div>
              <h1 class="font-bold text-xl">Contact Information</h1>
              <p>Provide a phone number and email for someone to best reach you at</p>
            </div>

            <div>
              <label for="phone" class="mb-2 text-gray-900">Phone Number</label>
              <input formControlName="phone" type="phone" id="phone" class="bg-gray-50 border opacity-75 border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 p-2.5 w-full rounded-xl" placeholder="" required/>
            </div>

            <div>
                <label for="email" class="mb-2 text-gray-900">Email</label>
                <input formControlName="email" type="email" id="email" class="bg-gray-50 border opacity-75 border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 p-2.5 w-full rounded-xl" placeholder="" required/>
              </div>
          </div>

          <!--Loc Panel-->
          <div class="bg-white rounded-xl shadow-sm h-[fit] flex flex-col p-8 space-y-16">
            <div>
              <h1 class="font-bold text-xl">Account Information</h1>
              <p>Lets get more details about you as a user!</p>
            </div>

            <div class="space-y-4">
                <div>
                    Are you making an account as an institution? e.g non-profit, business, etc. or 
                    as an individual?
                </div>

                <div class="flex justify-evenly">
                    <div class="space-x-4">
                        <input type="radio" id="institution" name="institution" value="institution" formControlName="accountType" (change)="onRadioChange(1)">
                        <label for="institution">Institution</label>
                    </div>
    
                    <div class="space-x-4">
                        <input type="radio" id="individual" name="individual" value="individual" formControlName="accountType" (change)="onRadioChange(0)">
                        <label for="individual">Individual</label>
                    </div>
                </div>

                @if(accountFlag)
                {
                    <div class="w-full flex justify-center p-16 font-bold">
                        If you are an individual, the following section is optional and not required!
                    </div>
                }
            </div>

            <div class="grid grid-cols-2 gap-2">
              <div class="col-span-2">
                <label for="street" class="mb-2 text-gray-900">street</label>
                <input formControlName="street" type="text" id="street" class="bg-gray-50 border opacity-75 border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 p-2.5 w-full rounded-xl" placeholder="" required/>
              </div>

              <div>
                <label for="city" class="mb-2 text-gray-900">city</label>
                <input formControlName="city" type="text" id="city" class="bg-gray-50 border opacity-75 border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 p-2.5 w-full rounded-xl" placeholder="" required/>
              </div>

              <div>
                <label for="state" class="mb-2 text-gray-900">state</label>
                <input formControlName="state" type="text" id="state" class="bg-gray-50 border opacity-75 border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 p-2.5 w-full rounded-xl" placeholder="" required/>
              </div>

              <div>
                <label for="zip" class="mb-2 text-gray-900">zip</label>
                <input formControlName="zip" type="text" id="zip" class="bg-gray-50 border opacity-75 border-gray-300 text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 p-2.5 w-full rounded-xl" placeholder="" required/>
              </div>

            </div>
          </div>



          <div class="w-full flex justify-center">
            <button (click)="submitUserInfo()"
                    class="p-4 px-16 font-bold bg-blue-400 bg-opacity-50 rounded-full w-fit border-2 shadow
                    hover:bg-opacity-100">
              Submit
            </button>
          </div>

          @if(errorFlag)
          {
            <div class="bg-white rounded-xl shadow-sm h-[fit] flex flex-col p-8 space-y-16">
                <div class="flex w-full justify-center">
                    {{errorMessage}}
                </div>
            </div>
          }
        </form>
      </div>
    </div>
           
          

</div>
