/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@layer components {
  .login-textbox {
    @apply p-8 h-14 w-80 border border-gray-100 rounded-xl;
  }

  .login-button {
    @apply h-11 w-80 rounded-full
  }

  .custom-bluebutton {
    @apply h-10 px-6 rounded-full bg-cyan-300 hover:bg-cyan-500
  }

  .report-textbox {
    @apply bg-gray-50 border border-gray-300 text-gray-100 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 border-gray-600  text-black focus:ring-blue-500 focus:border-blue-500
  }
  .text-label {
    @apply block mb-2 text-base font-medium text-gray-900 text-black
  }

  /* turn links blue on hover */
  a {
    color: #1a202c; /* Default link color (dark gray) */
    text-decoration: none;
  }
  
  a:hover {
    color: blue; /* Turns the link blue when hovered */
  }
}

.outerContainer
{
  @apply flex flex-col h-full w-full p-0 m-0 bg-cover bg-gradient overflow-y-auto pt-[75px]
  lg:flex-row lg:pt-[75px] lg:p-4;
}

.innerContainer
{
  @apply bg-white bg-opacity-50 flex flex-col items-center rounded-lg shadow-2xl space-y-24
  lg:items-start lg:w-full lg:overflow-auto
  transition-all duration-500 ease-in-out;
}

.navbarContainer
{
  @apply w-0 lg:w-fit lg:flex-1;
}
.mapContainer
{
  @apply bg-white bg-opacity-50 items-center rounded-lg shadow-2xl space-y-24
  lg:items-start w-full h-full
  transition-all duration-500 ease-in-out;
}

.buttonStyle
{
  @apply text-black focus:ring-4 focus:outline-none focus:ring-blue-300 
  font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center border hover:bg-gray-300 
  border-gray-600 dark:focus:ring-blue-800; 
}

.cardAnim
{
  @apply [transform:rotateY(360deg)];
}