<app-header></app-header>

<div class="outerContainer">

    <div class="lg:flex-1">
        <app-nav-bar></app-nav-bar>
    </div>

    <div class="innerContainer">

      <div class="h-fit w-full bg-cover bg-fixed bg-event tinted">
        <div class="h-[500px] w-full font-bold text-7xl flex flex-col justify-end text-white
                    inset-0 bg-black opacity-50">
          <h1>
            Conect with your community
          </h1>

        
        </div>
      </div>

        <div class="w-full flex justify-center">
          <div class="grid grid-cols-1 p-8 gap-4 lg:grid-cols-3">
            @for(event of events; let idx = $index; track idx)
            {
              <app-eventcard [event]="event"></app-eventcard>
            }
          </div>
        </div>


    </div>

</div>