<main class="bg-cover bg-landing">
  <div class="p-6 h-[38rem] grid md:grid-cols-3 place-content-center">
    <div class="h-0 w-0 invisible md:w-1/3 md:col-span-2 md:visible">
      Placeholder
    </div>
    <div class="w-96">
      <app-login-box></app-login-box>
    </div>
  </div>
  <div class="bg-stone-100">
    <div class="p-6 md:p-52 pt-20 grid grid-cols-2 gap-2 gap-x-6">
      <h1 class="text-4xl">
        About Toebeans
      </h1>
      <div class="row-span-2">
        placeholder for image
      </div>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nibh felis, rhoncus sit amet vulputate vitae, euismod quis nibh. Aliquam mollis condimentum erat a faucibus. Proin auctor eros vitae ipsum lobortis, a aliquam diam pretium. Cras sit amet egestas dui. Duis tincidunt mi dignissim, eleifend risus sit amet, viverra elit. Morbi id elit sit amet tortor ultrices hendrerit porta a eros. Duis malesuada fringilla enim, ac congue arcu ornare eget. Aliquam a nulla neque. Ut posuere sapien diam, quis lacinia velit faucibus mollis. Praesent sit amet congue mi.
      </p>
    </div>
  </div>
</main>
