<div class="min-h-screen flex flex-col">
  <app-header></app-header>
  <div class="bg-cover bg-gradient overflow-y-auto w-full h-full pt-16 flex-grow">

    <div class="grid grid-cols-2 m-8 space-y-8 overflow-hidden">
      <div class="w-full flex flex-col items-center bg-white bg-opacity-50 pt-8 pb-8 col-span-2 rounded-xl">
        <div class="flex flex-col items-center space-y-16">
          <!--Toebeans-->
          <div #targets #header [@loadTrigger]="triggerHelper(header)">
            <div class="font-bold text-5xl flex justify-center lg:text-7xl">
              TOEBEANS
            </div>
            <div class="flex flex-col items-center text-xl">
              Adopt or foster a pet and save a life
            </div>
          </div>

          <div>
            <button (click)="this.navService.navigateToLoginPage()"
              class="p-4 pl-16 pr-16 rounded-full border border-gray-400 font-bold font-2xl bg-gray-100 bg-opacity-50 hover:bg-pink-100">
              LOGIN
            </button>
          </div>
        </div>

        <div class="w-full flex flex-col items-center lg:w-3/4">
          <img src="./assets/images/landing-2.png" class="w-full lg:w-3/4">
        </div>
      </div>
      <!--About Us-->
      <div class="h-[500px] col-span-2 w-full p-16 space-y-16 bg-blue-100 bg-opacity-50 rounded-xl text-xl
                lg:col-span-1 lg:mr-4 overflow-auto">
        <div class="flex justify-center font-bold text-3xl">
          About Us
        </div>

        <div #targets #test [@loadTrigger]>
          Toebeans is an application done by on of the senior design groups at UNLV!
          We aim to help local shelters by driving adoption through education, streamlined processes, and visibility.
          As avid animal lovers, each and everyone of us has contribuited toward a better tommorow for the animals here
          within our local community.
        </div>
      </div>
      <!--Adopting/Fostering-->
      <div class="h-[500px] col-span-2 w-full p-16 space-y-16 bg-pink-100 bg-opacity-50 rounded-xl text-xl
                lg:ml-4 lg:col-span-1 overflow-auto">
        <div class="flex justify-center font-bold text-3xl">
          Consider Adopting or Fostering
        </div>

        <div>
          Adopting pets is important because it gives animals in shelters a second chance at a happy, loving life.
          Many pets are abandoned or surrendered through no fault of their own and face uncertain futures in overcrowded
          shelters.
          By adopting, you help reduce the number of animals in need, while also gaining a loyal companion who may have
          been overlooked due to age, breed, or appearance.
          4Adoption also combats the problem of pet overpopulation and can save lives, making it a compassionate choice
          for both pets and people.
        </div>
      </div>
      <!--TNR-->
      <div
        class="h-[500px] col-span-2 w-full p-16 space-y-16 bg-violet-200 bg-opacity-50 rounded-xl text-xl overflow-auto">
        <div class="flex justify-center font-bold text-3xl">
          Trap-Neuter-Return
        </div>

        <div class="text-justify">
          TNR stands for Trap-Neuter-Return, a humane method for managing and reducing feral cat populations. It
          involves trapping stray or feral cats,
          having them spayed or neutered, vaccinated, and then returning them to their original location. This process
          prevents further breeding, improves
          the health of the cats, and helps stabilize local populations over time. TNR is a more compassionate
          alternative to euthanasia, as it allows cats to
          continue living in their familiar environment without contributing to the overpopulation problem, while also
          reducing behaviors like mating and
          territorial fighting.
        </div>
      </div>


      <!--Case Studies-->
      <div class="w-full p-16 flex justify-center font-bold text-3xl col-span-2">
        Case Studies
      </div>
      <div class="flex flex-col justify-evenly p-4 gap-4 w-full row-span-3 lg:flex-row col-span-2">
        <!--Case Study 1-->
        <div class="w-[300px] h-[400px]  bg-rose-200 p-10 bg-opacity-60 rounded-lg text-center cursor-pointer transition-all duration-1000 ease-in-out flex flex-col items-center space-y-16" 
          [class.cardAnim]="showDescription1"
          (click)="toggleDescription(1)">
          @if(!showDescription1)
          {
            <img src="./assets/case_study_images/1.png" class="w-3/4">
            <h3 class="font-bold text-xl">Driving Communities Forward</h3>
          }
          @else
          {
            {{output1}}
          }
        </div>


        <!--Case Study 2-->
        <div class="w-[300px] h-[400px] bg-indigo-200 p-10 bg-opacity-60 rounded-lg text-center cursor-pointer transition-all duration-1000 ease-in-out flex flex-col items-center space-y-16"
          [class.cardAnim]="showDescription2"
          (click)="toggleDescription(2)">
          @if(!showDescription2)
          {
            <img src="./assets/case_study_images/2.png" class="w-3/4">
            <h3 class="font-bold text-xl">Image Shelters and Pets</h3>
          }
          @else
          {
            {{output2}}
          }
        </div>

        <!--Case Study 3-->
        <div class="w-[300px] h-[400px] bg-green-200 p-10 bg-opacity-60 rounded-lg text-center cursor-pointer transition-all duration-1000 ease-in-out flex flex-col items-center space-y-16"
          [class.cardAnim]="showDescription3"
          (click)="toggleDescription(3)">
          @if(!showDescription3)
          {
            <img src="./assets/case_study_images/3.png" class="w-3/4">
            <h3 class="font-bold text-xl">Ethically Handle Feral Cats</h3>
          }
          @else 
          {
            {{output3}}
          }
        </div>
      </div> <!--End of case study container-->
    </div>

    <app-footer></app-footer>
  </div>