<app-header></app-header>

<div class="outerContainer">
  <div class="navbarContainer">
    <app-nav-bar></app-nav-bar>
  </div>

  <div class="innerContainer">
    <h1 class="font-semibold text-5xl mt-10 md:pl-12 md:place-self-start"  role="banner">
      Your Pets
    </h1>
    <div class="w-full mt-24 lg:mt-32 flex flex-col items-center pb-20">
      <div class="container mx-auto px-2 md:px-16">
        <!-- Error Message -->
        <div *ngIf="errorMessage" class="error-message text-red-500 mb-4" aria-errormessage="error-message">
          {{ errorMessage }}
        </div>

        <!-- Loading Indicator -->
        <div *ngIf="!pets?.length && !errorMessage" class="loading-spinner" aria-busy="true" role="alert">
          Loading pets...
        </div>

        <!-- Pet List -->
        <div
          *ngIf="pets?.length"
          class="pet-list grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 md:gap-6"
          aria-labelledby="pet-list"
          role="list"
          >
          <div
            *ngFor="let pet of paginatedPets()"
            (click)="selectPet(pet)"
            class="flex justify-center"
          >
            <app-pet-card [pet]="pet"></app-pet-card>

            <!-- new pet card -->
          </div>
          <button
            class="flex justify-center"
            (click)="navService.navigateToCreatePet()"
          >
            <div
              class="flex flex-col justify-center rounded-xl shadow-xl hover:shadow-2xl hover:scale-105 transition-all duration-500 ease-in-out bg-transparent items-center border-dashed border-2 border-gray-400
              max-w-[160px] min-w-[160px] max-h-[200px] min-h-[200px] 
              md:max-h-[300px] md:min-h-[300px] md:min-w-[240px] md:max-w-[240px] 
              2xl:min-w-[300px] 2xl:max-w-[300px] 2xl:max-h-[400px] 2xl:min-h-[400px]"
            >
              <div
                class=" text-gray-900 "
              >
                <mat-icon [inline]="true">add</mat-icon>
              </div>
              <div class="text-md lg:text-lg font-medium text-slate-700">
                <p>New Pet</p>
              </div>
              
            </div>
          </button>
        </div>

        <!-- Pagination Controls -->
        <div class="pagination mt-6 md:flex justify-center hidden">
          <button
            (click)="prevPage()"
            [disabled]="currentPage === 1"
            class="mx-1 px-3 py-1 border rounded-lg mt-8 font-medium hover:bg-blue-300 text-black shadow bg-white"
            aria-labelledby="previous-button"
            role="button"
            >
            Previous
          </button>
          <span class="mx-2">Page {{ currentPage }} of {{ totalPages }}</span>
          <button
            (click)="nextPage()"
            [disabled]="currentPage === totalPages"
            class="mx-1 px-3 py-1 border rounded-lg mt-8 font-medium hover:bg-blue-300 text-black shadow bg-white"
            aria-labelledby="next-button"
            role="button"
            >
            Next
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
