<app-header></app-header>
<section class="h-dvh w-sceren flex items-center justify-center bg-[url('assets/background1.png')]">

    <div class="w-2/3 flex-col space-y-20 rounded-2xl bg-white/[0.8] p-10 m-10 md:w-1/3">
        <div>
            <h1>Login to your account</h1>
        </div>

        <div>
            <form class="flex flex-col space-y-4" (submit)="submit_login()">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="test@gmail.com" [formControl]="loginForm.controls.username">
                <label for="password">Password</label>
                <input type="password" name="password" id="email" placeholder="******" [formControl]="loginForm.controls.password">
                <button type="submit">Sign In</button>
              </form>
        </div>
    </div>
</section>
