<app-header></app-header>
<div class="outerContainer">
  <div class="w-0 lg:w-fit lg:flex-1">
    <app-nav-bar></app-nav-bar>
  </div>

  <div class="innerContainer lg:p-16 lg:pt-8 space-y-4">

      <div
      class="flex justify-center items-center w-full h-fit"

      >
      <div class="grid grid-cols-1 gap-4 lg:grid-cols-2 w-3/4">
        <div class="h-[100px]"></div>

        <div class="col-span-2 place-self-center">
            <img
            [src]="pet?.image"
            class="h-full w-full object-cover rounded-xl shadow-lg"
          />
       
        </div>
          

        <div class="col-span-2 bg-white bg-opacity-75 p-4 rounded-xl shadow-lg">
          <div class="font-bold text-xl">
            <h1>{{ pet?.name }}</h1>
          </div>

          <div>
            {{ pet?.breed }}
          </div>
        </div>

        <div class="col-span-2 bg-white bg-opacity-75 p-4 rounded-xl shadow-lg">
          <div class="text-xl font-bold">
            <h1>Overview</h1>
          </div>
        </div>

        <div class="bg-white bg-opacity-75 p-4 rounded-xl shadow-lg w-full col-span-2 lg:col-span-1">
          <div class="text-xl font-bold">
            <h1>Pet Information</h1>
          </div>
            
        </div>

        <div class="bg-white bg-opacity-75 p-4 rounded-xl shadow-lg w-full space-y-4 col-span-2 lg:col-span-1">
          <div class="text-xl font-bold">
            <h1>Medical History</h1>
          </div>
          <div class="flex justify-evenly">
                <div class="p-4 pr-16 font-bold text-5xl border-r-2 border-gray-300">
                    
                </div>

                <div class="p-4 font-bold text-xl">
                   
                </div>
          </div>
        </div>


        <div class="bg-white bg-opacity-75 p-4 rounded-xl shadow-lg col-span-2 col-span-2 lg:col-span-1">
          <div class="text-xl font-bold">
            <h1>Additional Details</h1>
          </div>
          {{ pet?.miscMed }}
        </div>

 

        <div class="h-[300px]"></div>

      </div>
    </div>


    <!--Spacers: probably not best practice-->
    <section class="w-full h-[100px]"></section>
  </div>
</div>


