<app-header></app-header>
<div class="outerContainer">
  <div class="lg:flex-1">
    <app-nav-bar></app-nav-bar>
  </div>

  <div class="innerContainer p-16 pt-0">

      <div
      class="flex-initial flex-col items-center p-16 space-y-16 md:items-start w-full box-border transition-all duration-500 ease-in-out"

      >
        <div class="flex flex-col min-h-screen w-full">
          <main class="flex-grow">
            <!-- Main content container -->
            <div *ngIf="pet" class="pet-page max-w-4xl mx-auto font-sans-serif">
              <div
                class="flex flex-col lg:flex-row bg-gray-100 border rounded-lg shadow-lg p-6"
              >
                <!-- Pet Image on the left -->
                <div class="flex-none lg:w-1/3 mb-4 lg:mb-0 shadow-lg">
                  <img
                    [src]="pet.image"
                    [alt]="pet.name"
                    class="w-full h-auto object-cover rounded-lg"
                    loading="lazy"
                  />
                </div>

                <!-- Pet Information on the right -->
                <div class="flex-auto lg:pl-6">
                  <h1 class="text-lg font-bold text-slate-900">
                    Basic Information
                  </h1>

                  <!-- Pet information -->
                  <div class="grid grid-cols-2 gap-4 mt-4 text-center">
                    <div class="flex flex-col items-center">
                      <p class="mt-2 font-semibold">{{ pet.name }}</p>
                      <p>{{ pet.species }} - {{ pet.breed }}</p>
                      <p>Age: {{ pet.age }}</p>
                      <p>Weight: {{ pet.weight }}</p>

                      <!-- additional information -->
                      <!-- <div class="mt-4">
                    <h2 class="text-xl font-semibold">Description</h2>
                    <p>{{ pet.description }}</p>
                  </div> -->
                    </div>
                  </div>
                </div>
              </div>

              <!-- Provided Documents Section -->
              <div
                *ngIf="pet.documents && pet.documents.length"
                class="mb-6 p-6 bg-gray-100 border rounded-lg shadow-lg"
              >
                <h1 class="text-lg font-bold text-slate-900 mb-4">
                  Provided Documents
                </h1>
                <ul class="space-y-2">
                  <li *ngFor="let doc of pet.documents">
                    <a
                      [href]="doc.value"
                      class="underline text-blue-600 hover:text-blue-800"
                      >{{ doc.key }}.pdf</a
                    >
                  </li>
                </ul>
              </div>

              <!-- Contact Information Section -->
              <div class="bg-gray-100 p-6 border rounded-lg shadow-lg">
                <h1 class="text-lg font-bold text-slate-900 mb-4">
                  Contact Information
                </h1>

                <p *ngIf="pet.contact?.organization">
                  <a
                    [href]="pet.contact?.organization?.url"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="text-blue-600 underline"
                  >
                    <strong>{{ pet.contact?.organization?.name }}</strong>
                  </a>
                </p>
                <p *ngIf="pet.contact?.email">
                  <strong>Email: </strong>
                  <a
                    [href]="'mailto:' + pet.contact?.email"
                    class="underline text-blue-600"
                    >{{ pet.contact?.email }}</a
                  >
                </p>

                <!-- <p *ngIf="pet.contact.phone">
              <strong>Phone: </strong>
              <a *ngIf="pet?.contact?.phone" [href]="'tel:' + formatPhone(pet.contact.phone)" class="underline text-blue-600">{{ pet.contact.phone }}</a>
            </p> -->
              </div>
            </div>
          </main>
        </div>
      </div>
   

    <!--Spacers: probably not best practice-->
    <section class="w-full h-[100px]"></section>
  </div>
</div>

<style>
  /* Default for mobile: stack image and info vertically */
  .flex-col {
    display: flex;
    flex-direction: column;
  }

  /* For larger screens (above 1024px), display image and info side by side */
  @media (min-width: 1024px) {
    .lg\:flex-row {
      display: flex;
      flex-direction: row;
    }
    .lg\:w-1\/3 {
      width: 33.3333%;
    }
    .lg\:pl-6 {
      padding-left: 1.5rem;
    }
    .lg\:mb-0 {
      margin-bottom: 0;
    }
  }
</style>
