<div class="bg-gray-100 p-8 bg-opacity-50">
    <div class="max-w-6xl mx-auto text-center mb-6">
        <h2 class="text-xl font-bold text-gray-800">Donate to our trusted nonprofit organizations!</h2>
    </div>
    <!--First column of links-->
    <div class="flex flex-col md:flex-row justify-center items-center text-center gap-8">
        <div class="flex flex-col gap-4">
            <a href="https://heavencanwaitlv.org/donate/" target="_blank" rel="noopener noreferrer"
                class="text-black bg-sky-200 hover:bg-violet-600 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-3 inline-block">
                Heaven Can Wait Animal Society
            </a>

            <a href="https://nevadaspca.org/donate/" target="_blank" rel="noopener noreferrer"
                class="text-black bg-sky-200 hover:bg-violet-600 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-3 inline-block">
                Nevada SPCA
            </a>
        </div>

        <!--Second column of links-->
        <div class="flex flex-col gap-4">
            <a href="https://animalfoundation.com/donate" target="_blank" rel="noopener noreferrer"
                class="text-black bg-rose-200 hover:bg-fuchsia-200 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-3 inline-block">
                Animal Foundation
            </a>
            <a href="https://checkout.shelterluv.com/donate/LVHS" target="_blank" rel="noopener noreferrer"
                class="text-black bg-rose-200 hover:bg-fuchsia-200 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-3 inline-block">
                Las Vegas Humane Society
            </a>
        </div>


        </div>
    </div>