<app-header></app-header>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--Navigation Bar-->
<div class="outerContainer">
  <div class="lg:flex-1">
    <app-nav-bar></app-nav-bar>
  </div>
    <div class="innerContainer">

    <div class="h-screen">
      <!--Medical Documents Carousel-->
      <section class="w-full lg:space-y-24 lg:overflow-visible space-y-0 md:space-y-12">
        <div class="grid grid-cols-2 w-full lg:grid-cols-3 lg:space-x-4 gap-0 md:gap-4">
          <div class="text-left">
            <h2>Medical Documents</h2>
            <ul class="carousel">
              <li class="carousel-item flex flex-col justify-between">
                <div class="w-full h-3/4 overflow-hidden rounded-t-lg bg-cover bg-center"
                  style="background-image: url('./assets/images/adoption-sample.png');">
                </div>
                <div class="w-full h-1/4 text-left p-2">
                  <span>Cookie Vaccines</span>
                </div>
              </li>

              <li class="carousel-item flex flex-col justify-between">
                <div class="w-full h-3/4 overflow-hidden rounded-t-lg bg-cover bg-center"
                  style="background-image: url('./assets/images/adoption-sample.png');">
                </div>
                <div class="w-full h-1/4 text-left p-2">
                  <span>Baljeet Vaccines</span>
                </div>
              </li>

              <li class="carousel-item flex flex-col justify-between">
                <div class="w-full h-3/4 overflow-hidden rounded-t-lg bg-cover bg-center"
                  style="background-image: url('./assets/images/adoption-sample.png');">
                </div>
                <div class="w-full h-1/4 text-left p-2">
                  <span>Milou Vaccines</span>
                </div>
              </li>

              <li class="carousel-item flex flex-col justify-between">
                <div class="w-full h-3/4 overflow-hidden rounded-t-lg bg-cover bg-center"
                  style="background-image: url('./assets/images/adoption-sample.png');">
                </div>
                <div class="w-full h-1/4 text-left p-2">
                  <span>Fishy Vaccines</span>
                </div>
              </li>

              <li class="carousel-item flex flex-col justify-between">
                <div class="w-full h-3/4 overflow-hidden rounded-t-lg bg-cover bg-center"
                  style="background-image: url('./assets/images/adoption-sample.png');">
                </div>
                <div class="w-full h-1/4 text-left p-2">
                  <span>Hamster Vaccines</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>


      <!--Applications Carousel-->
      <section class="w-full lg:space-y-24 lg:overflow-visible space-y-0 md:space-y-12">
        <div class="grid grid-cols-2 w-full lg:grid-cols-3 lg:space-x-4 gap-0 md:gap-4">
          <div class="text-left">
            <h2>Applications</h2>
            <ul class="carousel">

              <li class="carousel-item flex flex-col justify-between">
                <div class="w-full h-3/4 overflow-hidden rounded-t-lg bg-cover bg-center"
                  style="background-image: url('./assets/images/adoption-sample.png');">
                </div>
                <div class="w-full h-1/4 text-left p-2">
                  <span>Foster Application</span>
                </div>
              </li>

              <li class="carousel-item flex flex-col justify-between">
                <div class="w-full h-3/4 overflow-hidden rounded-t-lg bg-cover bg-center"
                  style="background-image: url('./assets/images/adoption-sample.png');">
                </div>
                <div class="w-full h-1/4 text-left p-2">
                  <span>Heaven Can Wait Application</span>
                </div>
              </li>

              <li class="carousel-item flex flex-col justify-between">
                <div class="w-full h-3/4 overflow-hidden rounded-t-lg bg-cover bg-center"
                  style="background-image: url('./assets/images/adoption-sample.png');">
                </div>
                <div class="w-full h-1/4 text-left p-2">
                  <span>Some Other Application</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <!--Miscellaneous Documents-->
      <section class="w-full lg:space-y-24 lg:overflow-visible space-y-0 md:space-y-12">
        <div class="grid grid-cols-2 w-full lg:grid-cols-3 lg:space-x-4 gap-0 md:gap-4">
          <div class="text-left">
            <h2>Misc. Documents</h2>
            <ul class="carousel">

              <li class="carousel-item flex flex-col justify-between">
                <div class="w-full h-3/4 overflow-hidden rounded-t-lg bg-cover bg-center"
                  style="background-image: url('./assets/images/adoption-sample.png');">
                </div>
                <div class="w-full h-1/4 text-left p-2">
                  <span>Foster Application</span>
                </div>
              </li>

              <li class="carousel-item flex flex-col justify-between">
                <div class="w-full h-3/4 overflow-hidden rounded-t-lg bg-cover bg-center"
                  style="background-image: url('./assets/images/adoption-sample.png');">
                </div>
                <div class="w-full h-1/4 text-left p-2">
                  <span>Fee Documents</span>
                </div>
              </li>

              <li class="carousel-item flex flex-col justify-between">
                <div class="w-full h-3/4 overflow-hidden rounded-t-lg bg-cover bg-center"
                  style="background-image: url('./assets/images/adoption-sample.png');">
                </div>
                <div class="w-full h-1/4 text-left p-2">
                  <span>Birth Certificate</span>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>

    <section class="w-full h-[200px]"></section>
  </div>