<app-header></app-header>

<div class="outerContainer">
  <div class="navbarContainer">
    <app-nav-bar></app-nav-bar>
  </div>
  <div class="innerContainer">
    <div class="flex flex-col items-center w-full pt-32 pb-64 p-4 bg-cover bg-account">
      <div class="grid grid-cols-2 lg:space-x-4">
        <div
          class="row-span-1 col-span-2 space-y-16 rounded-xl bg-white bg-opacity-75 flex flex-col items-center p-16 shadow-lg lg:row-span-3 lg:col-span-1">
          <div class="flex flex-col items-center">
            <div>
              <img src="{{ this.image?.profile_img_url }}" alt="User Profile Image" class="rounded-full h-[250px] w-[250px]" />
            </div>

            <div class="text-xl"></div>
          </div>

          <div class="text-3xl font-bold">
            {{ user?.first_name }}
            {{ user?.last_name }}
          </div>

          <div class="text-lg text-wrap w-full">
            {{ user?.biography }}
          </div>

          <button class="buttonStyle" (click)="loginService.logout()">
            Sign Out
          </button>
        </div>

        <div
          class="col-span-2 rounded-xl bg-white bg-opacity-75 flex flex-col items-center p-16 mt-4 mb-4 shadow-lg space-y-16 lg:col-span-1 lg:mt-0">
          <div class="font-bold">Contact Information</div>

          <div>
            <div>{{ user?.phone }}</div>
            <div>{{ user?.email }}</div>
          </div>
        </div>

       @if(user?.street)
        {
          <div
          class="col-span-2 rounded-xl bg-white bg-opacity-75 flex flex-col items-center p-16 mt-4 mb-4 shadow-lg space-y-16 lg:col-span-1 lg:mt-0">
            <div class="font-bold">Address</div>

            <div>
              <div>{{ user?.street }}</div>
              <div>{{ user?.city }}</div>
              <div>{{ user?.state }}</div>
            </div>
          </div>
        }

      </div>
    </div>
  </div>
</div>
